.btn {
    border: 1px solid #919191;
}

iframe {
    width: 100%;
    height: 500px;
}

a {
    text-decoration: underline; 
}

.processing {
    i {
        font-size: 3em;
    }
}

.lighter {
    font-weight: 300;
}